#FogFlow Designer deployment and service configuration 
apiVersion: apps/v1
kind: Deployment
metadata:
  #FogFlow cloud components will be deployed inside fogflow namespace
  namespace: {{ .Values.namespace }} 
  annotations:
    kompose.version: 1.21.0 (992df58d8)
    "helm.sh/hook-weight": "4"
  creationTimestamp: null
  labels:
    io.kompose.service: designer
  name: designer
spec:
  #replicas will make sure that no. of replicaCount mention in values.yaml
  # are running all the time for the deployment
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      io.kompose.service: designer
  minReadySeconds: 10
  #strategy tells about How do want to update the pods?
  strategy:
    rollingUpdate:
      maxSurge: 25% 
      maxUnavailable: 25% 
    type: RollingUpdate
  # This template field is a regular pod configuration
  # nested inside the deployment spec
  template:
    metadata:
      annotations:
        kompose.version: 1.21.0 (992df58d8)
      creationTimestamp: null
      labels:
        io.kompose.service: designer
    spec:
      initContainers:
      - image: busybox:1.28
        imagePullPolicy: Always
        name: init-broker
        command: ['sh', '-c', 'sleep 60s;']
      containers:
      - image: fogflow/designer:k8s
        imagePullPolicy: IfNotPresent 
        name: designer
        ports:
        - containerPort: 8080
        - containerPort: 1030
        #readiness and liveness to check pod's Health
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
        #CPU and memory requirement for designer deployment 
        resources: 
          limits:
            memory: 2Gi
            cpu: 1 
          requests:
            memory: 1Gi
            cpu: 1
        volumeMounts:
        - name: config-json
          mountPath: /app/config.json
      restartPolicy: Always
     #nodeSelector:
     #  master: cloud
      serviceAccountName: {{ .Values.serviceAccount.name }} 
      volumes:
      - name: config-json
        hostPath:
          path: {{ .Values.configJson.hostPath.path }}
---

apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Values.namespace }} 
  annotations:
    kompose.version: 1.21.0 (992df58d8)
  creationTimestamp: null
  labels:
    io.kompose.service: designer
  name: designer
spec:
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
  - name: "1030"
    port: 1030
    targetPort: 1030
  selector:
    io.kompose.service: designer
  externalIPs: {{ .Values.Service.spec.externalIPs }}
status:
  loadBalancer: {}
