#rabbitmq deployment and service configuration
apiVersion: apps/v1
kind: Deployment
metadata:
  #FogFlow cloud components will be deployed inside fogflow namespace
  namespace: {{ .Values.namespace }} 
  annotations:
    kompose.version: 1.21.0 (992df58d8)
    "helm.sh/hook-weight": "2"
  creationTimestamp: null
  labels:
    io.kompose.service: rabbitmq
  name: rabbitmq
spec:
  #replicas will make sure that no. of replicaCount mention in values.yaml
  # are running all the time for the deployment
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      io.kompose.service: rabbitmq
  minReadySeconds: 10
  #strategy tells about How do want to update the pods?
  strategy: 
    rollingUpdate:
      maxSurge: 25% 
      maxUnavailable: 25% 
    type: RollingUpdate
   # This template field is a regular pod configuration
  # nested inside the deployment spec
  template:
    metadata:
      annotations:
        kompose.version: 1.21.0 (992df58d8)
      creationTimestamp: null
      labels:
        io.kompose.service: rabbitmq
    spec:
      containers:
      - env:
        - name: RABBITMQ_DEFAULT_PASS
          value: mypass
        - name: RABBITMQ_DEFAULT_USER
          value: admin
        image: rabbitmq:3
        imagePullPolicy: Always 
        name: rabbitmq
        ports:
        - containerPort: 5672
        #readiness and liveness to check pod's Health
        readinessProbe:
          tcpSocket:
            port: 5672 
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 5672 
          initialDelaySeconds: 15
          periodSeconds: 20
        resources: 
         #CPU and memory limits for rabbitmq deployment
          limits:
            memory: 2Gi
            cpu: 1
          requests:
            memory: 2Gi
            cpu: 1
      restartPolicy: Always
      serviceAccountName: {{ .Values.serviceAccount.name }} 
      volumes: null
status: {}

---

apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Values.namespace }} 
  annotations:
    kompose.version: 1.21.0 (992df58d8)
  creationTimestamp: null
  labels:
    io.kompose.service: rabbitmq
  name: rabbitmq
spec:
  ports:
  - name: "5672"
    port: 5672
    targetPort: 5672
  selector:
    io.kompose.service: rabbitmq
  externalIPs:  {{ .Values.Service.spec.externalIPs }}
status:
  loadBalancer: {}
