version: "2"
services:
    cloud_worker_2:
        image: local/fogflow-worker
        volumes:
            - /tmp:/tmp        
            - ./config-edge-1.json:/config.json                
            - /var/run/docker.sock:/var/run/docker.sock
    cadvisor:
        image: google/cadvisor