name: CI/CD Status

on: [push,pull_request]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
        
    - name: Docker Build Job
      run: |
        export GOBIN=/home/runner/go/bin
        docker --version
        echo "build discovery"
        cd discovery
        pwd
        sh build

        echo "build broker"
        cd ../broker
        pwd
        sh build

        echo "build worker"
        cd ../worker
        pwd
        sh build

        echo "build master"
        cd ../master
        pwd
        sh build
    
        echo "build designer"
        cd ../master
        pwd
        sh build
            
    - name: Setting Up Environment
      run: |
        sudo apt-get update
        sudo apt-get install jq
        sudo apt install python2
        curl  https://bootstrap.pypa.io/pip/2.7/get-pip.py --output get-pip.py
        sudo python2 get-pip.py
        pip -V
        #sudo pip install --upgrade pip
        pip install Flask
        pip install requests
        pip install -U pytest
        sudo apt-get install curl
        
    - name: Launching Docker containers
      run: |
        sudo docker run  -it -d -p 8082:8080 -p 9082:9080 -p 8000:8000 -v ~/dgraph:/dgraph fogflow/dgraph:latest
        sudo docker run  -it -d --name mongodb -d mongo:3.4
        sudo docker run  -it -d --name orion1 --link mongodb:mongodb -p 1026:1026 fiware/orion -dbhost mongodb
        docker ps -a 
        
        
    - name: Building Fogflow Components
      run: |  
        export GOBIN=/home/runner/go/bin
        ls
        cd discovery/
        go get; go build;
        ls
        cd ../broker/
        go get; go build;
        ls
        cd ../designer/
        npm install 
        
    - name: Running Test Cases
      run: |
        export PATH=/home/runner/.local/bin:$PATH
        ls 
        cp release/validation/config.json  discovery/
        cp release/validation/config.json  broker/
        cp release/validation/config.json  master/
        cp release/validation/config.json  worker/
        cp release/validation/config.json  designer/
      
        cd discovery/ 
        screen -d -m ./discovery

        cd ../broker/
        screen -d -m ./broker

        cd ../designer/
        screen -d -m node main.js

        cd ../test/UnitTest/
        screen -d -m python accumulator.py

        cd ../UnitTest/v2/
        pytest -s -v
 
        cd ../v1/
        pytest -s -v

        cd ../NGSI-LD/
        pytest -s -v 

        cd ../persistance/
        pytest -s -v 

        echo "Testing Done !!!"
