name: CI/CD Status

on: [push,pull_request]

jobs:

  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
        
    - name: Gosec - Code Analyser
      run: |
        curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh | sh -s -- -b $(go env GOPATH)/bin latest
        gosec -fmt=json -out=result.json ./...
        
    - name: Docker Build Job
      run: |
        export GOBIN=/home/runner/go/bin
        docker --version
        echo "build discovery"
        cd discovery
        pwd
        sh build

        echo "build broker"
        cd ../broker
        pwd
        sh build

        echo "build worker"
        cd ../worker
        pwd
        sh build

        echo "build master"
        cd ../master
        pwd
        sh build
    
        echo "build designer"
        cd ../master
        pwd
        sh build
            
    - name: Setting Up Environment
      run: |
        sudo apt-get update
        sudo apt-get install jq
        sudo apt install python-pip
        pip -V
        sudo pip install --upgrade pip
        pip install setuptools
        pip install Flask
        pip install requests
        pip install -U pytest
        pip install pytest-cov
        sudo apt-get install curl
        
    - name: Running GoLint - a linter for golang
      run: |
        go get -u golang.org/x/lint/golint
        export GOBIN=/home/runner/go/bin
        cd discovery/
        golint
        cd ../broker
        golint
        cd ../master
        golint
        cd ../worker
        golint
        cd ../
        
    - name: Launching Docker containers
      run: |
        sudo docker run  -it -d -p 8082:8080 -p 9082:9080 -p 8000:8000 -v ~/dgraph:/dgraph fogflow/dgraph:latest
        sudo docker run  -it -d --name mongodb -d mongo:3.4
        sudo docker run  -it -d --name orion1 --link mongodb:mongodb -p 1026:1026 fiware/orion -dbhost mongodb
        docker ps -a 
        
        
    - name: Building Fogflow Components
      run: |  
        export GOBIN=/home/runner/go/bin
        ls
        cd discovery/
        go get; go build;
        ls
        cd ../broker/
        go get; go build;
        ls
        cd ../designer/
        npm install 
        
    - name: Running Test Cases
      run: |
        export PATH=/home/runner/.local/bin:$PATH
        ls 
        cp release/validation/config.json  discovery/
        cp release/validation/config.json  broker/
        cp release/validation/config.json  master/
        cp release/validation/config.json  worker/
        cp release/validation/config.json  designer/
      
        cd discovery/ 
        screen -d -m ./discovery

        cd ../broker/
        screen -d -m ./broker

        cd ../designer/
        screen -d -m node main.js

        cd ../test/UnitTest/
        screen -d -m python accumulator.py

        echo "NGSI-v2 Testing !!!"
        cd ../UnitTest/v2/
        pytest -s -v test_casesNGSIv2.py --cov > result.txt
        sed -i -e '33,146d' result.txt
        sed -i -e '36,37d' result.txt
        cat result.txt
 
        echo "NGSI-v1 Testing !!!"
        cd ../v1/
        pytest -s -v test_casesNGSIv1.py --cov > result.txt
        sed -i -e '79,192d' result.txt
        sed -i -e '82,83d' result.txt
        cat result.txt

        echo "NGSI-LD Testing !!!"
        cd ../NGSI-LD/
        pytest -s -v test_casesNGSI-LD.py --cov > result.txt
        sed -i -e '202,315d' result.txt 
        sed -i -e '205,206d' result.txt
        cat result.txt

        echo "Persistance Testing !!!"  
        cd ../persistance/
        pytest -s -v test_persistance.py --cov > result.txt
        sed -i -e '24,137d' result.txt
        sed -i -e '27,28d' result.txt
        cat result.txt

        echo "Testing Done !!!!"
